<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <IncludeSetACLProviderOnDestination>False</IncludeSetACLProviderOnDestination>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cztery-pokoje.aspnet.pl/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webhw26.dcsweb.pl:8172</MSDeployServiceURL>
    <DeployIisAppPath>cztery-pokoje.aspnet.pl</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>cztery-pokoje_dploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="READBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=mssql01.dcsweb.pl,51433;Initial Catalog=1187_cztery-pokoje;Persist Security Info=True;User ID=1187_bartendercztery;Password=Em!L@c7eK" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RealEstateAgency.Domain.Concrete.READBContext, RealEstateAgency.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)READBContext-Web.config Connection String">
      <ParameterValue>Data Source=mssql01.dcsweb.pl,51433;Initial Catalog=1187_cztery-pokoje;Persist Security Info=True;User ID=1187_bartendercztery;Password=Em!L@c7eK</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>