@model RealEstateAgency.WebUI.Models.OfferListViewModel

@{
    ViewBag.Title = "Offers";
}

<h2>List</h2>

@foreach (var o in Model.Offers)
{
    <div>
        <h3>@o.Name</h3>
        <h4>@o.Price.ToString("c")</h4>
        @o.Description
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x=>Url.Action("List", new { page = x }))
</div>

