@model RealEstateAgency.WebUI.Models.OfferListViewModel

@{
    ViewBag.Title = "Offers";
}

<!--<h2>List</h2> -->

<div class="row panel">
    <!-- search criteria -->
    @Html.Partial("SearchCriteria", Model.SearchCriteria)

    <div class="col-md-6 coll-lg-6">
        @if (Model.Offers != null && Model.Offers.Count() > 0)
        {
            foreach (var o in Model.Offers)
            {
                @Html.Partial("OfferPartial", o)
            }
        }
        else
        {
            <div class="well">
                <div class="text-info text-center">Obecnie brak ofert spełniających kryteria, które wprowadziłeś.</div>
            </div>
        }
    </div>
</div>   


