@model RealEstateAgency.WebUI.Models.OfferListViewModel

@{
    ViewBag.Title = "Offers";
}

<h2>List</h2>

@foreach (var o in Model.Offers)
{
    <div class="well">
        <div class="row">
            <h3>
                @if (o.Category == "M")
                {
                    <span class="pull-left label label-danger">Mieszkanie</span>
                }
                else if (o.Category == "D")
                {
                    <span class="pull-left label label-warning">Dom</span>
                }

                <span class="pull-right label label-primary">@o.Price.ToString("c")</span>
            </h3>
        </div>
        <div class="row">
            <h3>
                    <strong>@o.Name</strong>
                </h3>
        </div>
        
        <span class="lead">@o.Description</span>
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x=>Url.Action("List", new { page = x }))
</div>

