@model RealEstateAgency.WebUI.Models.OfferListViewModel

@{
    ViewBag.Title = "Offers";
}

<!--<h2>List</h2> -->

@foreach (var o in Model.Offers)
{
    @Html.Partial("OfferPartial", o)
}

<div>
    @Html.PageLinks(Model.PagingInfo, x=>Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>

