@model IEnumerable<string>
@using RealEstateAgency.WebUI.Properties
@using RealEstateAgency.WebUI.Models

<ul class="nav navbar-nav">
    <li class="active">
        <a href="#"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    @foreach (var link in Model)
    {
        <li>
            @Html.RouteLink(Resources.ResourceManager.GetString(link), new
       {
           controller = "Offer",
           action = "List",
           //category = link,
           searchCriteria = new SearchCriteria{ category = "D"},
       page = 1
       }, new { Style = "color:white " + (link != ViewBag.SelectedCategory ? "" : ";color:blue") })
        </li>
    }
</ul>
