@using RealEstateAgency.WebUI.Properties



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources.APP_NAME_FULL</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Social.css" rel="stylesheet" />
    
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>  
    <script src="~/Scripts/ReadEstate.js"></script>

    <!-- displys selected value in drop down-->
    <script type="text/javascript">
        $(document).ready(function() {
            $('.dropdown-toggle').dropdown();
            $('.mydropdown li > a').click(function () {
                $('#text').text($(this).html());
            });

            function hideAll() {
                $("#mieszkanie").hide();
                $("#dom").hide();
                $("#dzialka").hide();
                $("#garaz").hide();
                $("#lokal").hide();
                $("#pokoj").hide();
            }

            function displayFirst() {
                $("#mieszkanie").show();
            }
            hideAll();
            displayFirst();

            $("#reset_button").click(
            function () {
                this.form.reset();
                $("#category").val("M").change();
                return false;
            })  ;
            
            $("#category").on("change", function () {
                hideAll();
                switch ($("#category option:selected").index())
                {
                    case 0:
                        $("#mieszkanie").show();
                        break;
                    case 1:
                        $("#dom").show();
                        break;
                    case 2:
                        $("#dzialka").show();
                        break;
                    case 3:
                        $("#garaz").show();
                        break;
                    case 4:
                        $("#lokal").show();
                        break;
                    case 5:
                        $("#pokoj").show();
                        break;
                }                
            });
        });

        
    </script>
</head>
<body>
    <div class="container">

        <div class="row" style="margin-top:10px;">
            <div class="col-md-6">
                <img src="~/Resources/logo_n1.png" />
            </div>
            <div class="col-md-6">
                <form class="navbar-form navbar-right" role="search">
                    <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 502-304-426 <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 509 808 144 <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> magdalena.dacko@gmail.com</button>
                </form>
            </div>
        </div>

        <div class="row">
            <nav class="navbar btn-info" role="navigation">
                @Html.Action("TopMenu", "Nav")



                <ul class="nav navbar-nav navbar-right" style="margin-right:30px;color:#ffffff">
                    <li>
                        <a href="#" style="color:white"><b>O nas...</b></a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
    <!-- main content -->

    <div id="main_content">
        @RenderBody()
    </div>

    <!-- end of main content -->

   

    <!-- footer with social icons -->
    <div class="container">
        <div class="row">

            <div class="navbar btn-info" style="padding-top:5px; padding-bottom:5px; color:#ffffff">
                <span class="text-center" style="padding-left:3px">Cztery Pokoje &copy;@DateTime.Now.Year. Wszystkie prawa zastrzeżone.</span>
                
                <ul class="social-icon animate pull-right">
                    <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- change the link to social page and edit title-->
                    <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end of footer with social icons -->
     
</body>
</html>