@using RealEstateAgency.WebUI.Properties
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources.APP_NAME_FULL</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />    
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation" style="color:white">
        <div class="page-header">
            <h1>
                Cztery Pokoje
                <small>Biuro nieruchomości</small>
            </h1>
            </div>
        </div>
        @*<div class="navbar navbar-inverse" role="navigation" style="color:white">
                <div class="container-fluid">
                    <div class="row">
                        <div class="coll-mg-4 coll-lg-4">
                            Cztery Pokoje
                        </div>

                        <div class="coll-mg-4 coll-lg-4 pull-right">
                            Tel.: 509-808-144
                        </div>
                    </div>
                </div>
            </div>*@


        <div class="row panel">
            <div id="categories" class="col-md-3">
                @Html.Action("Menu", "Nav")
            </div>
            <div class="col-md-6">
                @RenderBody()
            </div>
        </div>

        <!--<div class="container-fluid">
           <nav class="navbar navbar-default">
               <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>

               </div>



               <a class="navbar-brand pull-right btn btn-danger" href="#" style="color:white">
                   Cztery Pokoje <span class="badge"><i class="glyphicon glyphicon-home"></i></span>
               </a>

               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <!--      <ul class="nav nav-pills">
                       <li role="alertdialog"> <a href="#">Mieszkania</a></li>
                       <li role="banner"> <a href="#">Domy</a></li>
                       <li role="presentation"> <a href="#">Działki</a></li>
                   </ul> -->
        <!--<ul class="nav navbar-nav">


            <li class="dropdown">
                <a href="#" class="btn btn-success dropdown-toggle" style="color:white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mieszkania <span class="caret" /></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Chcę kupić...</a></li>
                    <li><a href="#">Chcę sprzedać...</a></li>
                    <li><a href="#">Chcę wynająć...</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="btn btn-primary dropdown-toggle" style="color:white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Domy<span class="caret" /></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Chcę kupić...</a></li>
                    <li><a href="#">Chcę sprzedać...</a></li>
                    <li><a href="#">Chcę wynająć...</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="btn btn-info dropdown-toggle" style="color:white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Działki<span class="caret" /></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Chcę kupić...</a></li>
                    <li><a href="#">Chcę sprzedać...</a></li>

                </ul>
            </li>
        </ul>
            -->
        <!--  <div class="navbar-right">
                       <a href="#" class="btn btn-danger">Cztery Pokoje <span class="badge"><i class="glyphicon glyphicon-home"></i></span> </a>
                   </div>
               </div>


           </nav>

        </div>
        -->
</body>
</html>