@model RealEstateAgency.Domain.Entities.Offer

@using RealEstateAgency.WebUI.Helpers

<div class="well">
    <div class="row">
        <h3>
            @if (Model.Category == "M")
            {
                <span class="pull-left label label-danger">Mieszkanie</span>
            }
            else if (Model.Category == "D")
            {
                <span class="pull-left label label-warning">Dom</span>
            }

            <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
        </h3>
    </div>
    <div class="row">
        <h3>
            <strong>@Model.Name</strong>
        </h3>
    </div>

    <span class="lead">@Model.Description</span>
    @*<div><img src="~/AgencyImages/1.jpg" width="100" />
        <img src="~/AgencyImages/2.jpg" width="100" />
        <img src="~/AgencyImages/3.jpg" width="100" />
    </div>*@

    <div>
        @{
            string PATH_TO_SAVE_IMAGES = Server.MapPath("~/AgencyImages");
            string directory = Path.Combine(PATH_TO_SAVE_IMAGES, Model.Id.ToString());
            if (Directory.Exists(directory))
            {
                string[] files = Directory.GetFiles(directory);
                foreach (string file in files)
                {
                    //string path = string.Format("{0}{1}{2}{3}{4}{5}{6}", "~/AgencyImages", Path.DirectorySeparatorChar, Model.Id.ToString(), Path.DirectorySeparatorChar, "thumb", Path.DirectorySeparatorChar, Path.GetFileName(file));
                    string path = Path.Combine("~/AgencyImages", Model.Id.ToString(), "thumb", Path.GetFileName(file));
                    <img src="@Url.Content(path)" width="200" alt="Image" />
                }
            }
        }
     </div>
        <div>

        </div>
    </div>

