@model RealEstateAgency.Domain.Entities.Offer

@using RealEstateAgency.WebUI.Helpers

<div class="well">
    <div class="row">
        <h3>
            @if (Model.Category == "M")
            {
                <span class="pull-left label label-danger">Mieszkanie</span>
            }
            else if (Model.Category == "D")
            {
                <span class="pull-left label label-warning">Dom</span>
            }

            <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
        </h3>
    </div>
    <div class="row">
        <h3>
            <strong>@Model.Name</strong>
        </h3>
    </div>

    <span class="lead">@Model.Description</span>
    @*<div><img src="~/AgencyImages/1.jpg" width="100" />
        <img src="~/AgencyImages/2.jpg" width="100" />
        <img src="~/AgencyImages/3.jpg" width="100" />
    </div>*@


    @if (Model.Photos != null)
    {
        int NUM_PHOTOS_IN_LIST = ResourceHelper.GetNumberForCode("NUM_PHOTOS_IN_LIST");
        int index = 0;
        foreach (var ph in Model.Photos)
        {
            if (index < NUM_PHOTOS_IN_LIST)
            {
                <img src="@Url.Action("GetImage","Offer", new { id = ph.Id})" width="100" />
            }
            else
            {
                break;
            }
        }

    }
    <div>

    </div>
</div>

